
/*===================================================================================*/
/*	CUSTOM CSS STYLES
/*===================================================================================*/

.inner {
    padding-top: 70px;
    padding-bottom: 70px;
}
.inner-top {
    padding-top: 70px;
}
.navbar-header .info li a {
    font-size: 1.2em;
}
.navbar-nav {
    flex-grow: 0.5;
}
.navbar-nav .active {
    color: #FA6C65;
}

.resume-title {
    font-size: 1.4em;
    margin-bottom: 0;
}
.resume-location {
    font-size: 1.3em;
}
.sidepills {
    color: white;
    padding: 0;
    margin: 0;
}
.sidepills li {
    background-color: #1f3543;
    border: 1px solid #1f3543;
    border-radius: 6px;
    /* font-size: 14px; */
    position: relative;
    line-height: 20px;
    padding: 13px;
    margin: 6px;
}

h1, h2, h3, h4, h5, h6, body, 
.navbar-nav > li > a, 
.bordered .info h3 a, 
.bordered .info h4 a {
    color: #34495e;
}

.modal-header .close {
    color: #fff;
}
.modal-body {
    background-color: black;
}

.icon-artstation:before {
    font-family: fontello-artstation !important;
}

.member .text-overlay .info .social li a:hover .icon-s-linkedin {
    color: #3B5998;
    color: #4668B3;
}

.btn-share-lg:hover .icon-s-linkedin:after,
.btn-share-md:hover .icon-s-linkedin:after,
.btn-share-sm:hover .icon-s-linkedin:after,
.btn-share-xs:hover .icon-s-linkedin:after {
    background: #3B5998;
    /* background: #4668B3; */
}
.btn-share-lg:hover .icon-artstation:after,
.btn-share-md:hover .icon-artstation:after,
.btn-share-sm:hover .icon-artstation:after,
.btn-share-xs:hover .icon-artstation:after {
    background: #3079FF;
}
.btn-share-lg:hover .icon-s-github:after,
.btn-share-md:hover .icon-s-github:after,
.btn-share-sm:hover .icon-s-github:after,
.btn-share-xs:hover .icon-s-github:after {
    background: #506a85
}

.social a .icon-s-linkedin:after {
    background: #3B5998;
}
.social a .icon-artstation:after {
    /* background: #1769FF; */
    background: #3079FF;
}
.social a .icon-s-github:after {
    background: #506a85;
}